<div class="container mt-28">
  <div class="h-full flex flex-col justify-center items-center mb-10 mt-10">
    <h1 class="text-5xl font-bold mb-10">Sorteio Vagas - Parque dos P치ssaros Sabi치 </h1>
    <div class = "mb-10 mt-10">
      <%= form_with url: sorteio_path, method: :get, class: "align-center" do %>
      <%= submit_tag "Realizar sorteio", name: "", class: "bg-sky-500 hover:bg-sky-700 px-8 py-5 text-3xl leading-5 rounded-md font-semibold text-white"%>
      <% end %>
    </div>
    <div class="h-full flex flex-row justify-center items-center">
      <div class = "mr-2">
      <%= form_with url: sorteio_path, method: :get do %>
        <%= text_field_tag :seed,
              params[:seed],
              placeholder: "Digite c칩digo do sorteio",
              class: "placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 py-2.5 pr-3 shadow-sm rounded-md focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm gap-2"
          %>
      </div>
      <div>
        <%= submit_tag "Realizar sorteio com c칩digo", name: "", class: "bg-green-500 hover:bg-green-700 px-5 py-2.5 text-sm leading-5 rounded-md  font-semibold text-white"  %>
      </div>
      <% end %>
    </div>
  </div>
</div>
